.section {
  display: flex;
  gap: 20px;
  padding: 30px 40px;
}

.card {
  flex: 1;
  padding: 30px;
  border-radius: 10px;
}

.card p {
  font-size: 20px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 32px;
}

.income-card {
  background-color: #d9f2d9;
}

.expense {
  background-color: #fbdcdc;
}

.expense p,
.expense h2 {
  color: #d63333;
}

.balance {
  background-color: #dce6fb;
}
